<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Order: {{ order_html.customer_name }}</h1>
    <h2>Order Date: {{ order_html.order_date }}</h2>
    <p>Order Quantity: {{ order_html.quantity }}</p>
    <p>Order Item: {{ order_html.type }}</p>
    <p>Order Size: {{ order_html.size }}</p>
</body>
</html>